* {
    margin: 0px;
    padding: 0px;
}

.nav-container {
    display: flex;
    background-color: gray;
    align-items: center;
    padding: 20px;
    justify-content: space-around;
}

.menus {
    list-style: none;
    display: flex;
    gap: 25px;
    font-size: 26px;
    color: white;

}

.banner-container {
    height: 100vh;
    background-image: url("./asset/image/background.jpg"), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;

}

.banner-info {
    width: 100%;
    align-items: center;
}

.primary {
    color: red;
}

.title {
    width: 100%;
    font-size: 90px;
    font-weight: bold;
    color: white;
    margin: auto;

}

.description {
    color: white;
    padding: 10px;
    font-size: 26px;
    font-weight: 100;

}

button {
    justify-content: space-between;
    margin: 10px;

}

.btn1 {
    font-size: 18px;
    padding: 12px 20px;
    background-color: red;
    border: none;
    color: white;
}

.btn2 {
    font-size: 18px;
    padding: 12px 20px;
    background-color: white;
    border: none;
    color: black;
}
.btn-new{
    font-size: 18px;
    padding: 15px 25px;
    background-color: white;
    border: none;
    color: black;
    border-radius: 15px;
    margin-right: 20px;
    border-right: 2px solid red;
    
}
.btn-new:hover{
    background-color: green;
    color: white;
}
.btn1:hover {
    background-color: green;
}

.btn2:hover {
    background-color: red;
    color: white;
}
.service-container{
    height: 100vh;
    background-image: url("./asset/image/footer-bg.png"), linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 2.8));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 50px 200px 50px 150px;
}
.services-description{
    color: red;
}
.services-fonth{
    font-size: 55px;
    line-height: 60px;
    padding-top: 10px;
    color: #BECFD0;
}
.numbertypeol{
    font-size: 22px;
    line-height: 30px;
    padding-top: 8px;
    padding-left: 15px;
    padding-top: 20px;
    color: #BECFD0;
}
.services-description2{
    font-size: 24px;
    width: 70%;
    padding-top: 10px;
    color: #BECFD0;
}

.first-two-box{
    text-align: center;
    align-items: center;
    height: 300px;
    width: 300px;
    background-color: white;
    color: black;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
     
}
.icon{
    height: 100px;
    width: 100px;
    padding-top: 80px;
    
}
.icon-call{
    height: 50px;
    width: 50px;
    
    
}
.box-description{
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
}
.service-container{
    display: flex;
    align-items: center;
}
.right-side-container{
    display: flex;
    padding: 5px;
    margin: 5px;
    gap: 20px;
}
.author-img{
    height: 100px;
    font-weight: 100px;
    border-radius: 50px;
    padding-top: 20px;
    border-right: 2px solid red;
    
}
.author-name{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px;
    
}
.phone-call{
    display: flex;
    justify-content: space-around;
    gap: 15px;
    align-items: center;
    color: white;
    border-right: 1px solid white;
    padding-right: 60px;

}
.appointment-container{
    background-color: red;
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    align-items: center;
    padding: 40px;
    margin-top: -30px;
}
.appointment-desc{
    font-size: 18px;
    color: white;
}
.font-new{
    font-size: 12px;
}
.font-new2{
    font-size: 40px;
}
.btn-new-1{
    font-size: 18px;
    padding: 15px 25px;
    background-color: white;
    border: none;
    color: black;
    border-radius: 15px;
    margin-right: 20px;
    border-right: 2px solid red;

}
.btn-new-1:hover {
    background-color: black;
    color: white;
}