* {
    margin: 0px;
    padding: 0px;
}

.nav-container{
    display: flex;
    background-color: gray;
    align-items: center;
    padding: 20px;
    justify-content: space-around;
}
.menus{
    list-style: none;
    display: flex;
    gap: 25px;
    font-size: 26px;
    color: white;

}
.banner-container{
     height: 100vh;
     background-image: url("./asset/image/background.jpg"), linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5));
     background-blend-mode: overlay;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     text-align: center;
     display: flex;
     align-items: center;
     
}
.banner-info{
    width: 100%;
    align-items: center;
}
.primary{
    color: red;
}
.title{
    width: 100%;
    font-size: 90px;
    font-weight: bold;
    color: white;
    margin: auto;
    
}
.description{
    color: white;
    padding: 10px;
    font-size: 26px;
    font-weight: 100;
    
}
button{
    justify-content: space-between;
    margin: 10px;
    
}
.btn1{
    font-size: 18px;
    padding: 10px;
    background-color: red;
    border: none;
    color: white;
}
.btn2{
    font-size: 18px;
    padding: 10px;
    background-color: white;
    border: none;
    color: black;
}
.btn1:hover{
    background-color: green;
}
.btn2:hover{
    background-color: red;
    color: white;
}